body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  position: fixed;
  width: 48px;
  height: 98vh;
  left: 0px;
  top: 0px;
  background: #82B284;
  &__up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 48px;
    height: 180px;
    left: 0px;
    top: 0px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 48px;
    left: 0px;
    bottom: 0;
  }
  &__item {
    padding: 20px 14px 20px 14px;
    position: static;
    left: 0px;
    color: #ffffff;
    &:hover {
      background: #bfdbc0;
    }
  }
}

.side {
  position: fixed;
  width: 224px;
  height: 98vh;
  left: 48px;
  top: 0px;
  background: #F7F7F7;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    margin: 0;
  }

  &__organization {
    margin-top: 20px;
    height: 44px;
    display: flex;
    background: #EEEEEE;
    align-items: center;
    color: #82B284;
    span {
      margin-left: 17px;
      margin-right: 17px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #82B284;
    }
  }
}

.organization {
  padding-left: 272px;
  width: calc(100vw - 272px);
  min-height: calc(100vh - 72px);
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: absolute;
    height: 72px;
    width: calc(100vw - 352px);
    left: 272px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #82B284;
    &-right {
      display: flex;
      justify-content: flex-start;
    }
    &-icon {
      margin-left: 30px;
      &-delete {
        color:red;
        margin-left: 30px;
      }
    }
  }
  &__descr {
    padding: 72px 40px 20px 40px;
    &-icon {
      color: #82B284;
    }
    h5 {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
  &__title {
    display: flex;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #222222;
    h2 {
      margin-right: 14px;
    }
  }
  &__info {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3B3B3B;
    margin-top: 24px;
    h4 {
      margin-right: 18px;
    }
  }
  &__contact-info {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #3B3B3B;
    margin-top: 24px;
    h4 {
      margin-right: 18px;
    }
  }
  &__button-plus {
    width: 400px;
    color: #82B284;
  }
  &__border {
    border-bottom: 1px solid #E5E5E5;
    margin: 32px 0;
  }
  &__our {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
    &-des {
      margin-left: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__contact {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    &-text {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
    &-des {
      margin-left: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__photos {
    display: flex;
    justify-content: flex-start;
  }
  &__photo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      margin-top: 5px;
    }
    img {
      width: 160px;
      height: 160px;
    }
  }
  &__button {
    display: inline-block;
    margin-left: 20px;
    background-color: rgb(218, 197, 202);
    border-radius: 11px;
    padding: 3px 6px;
    width: 190px;
    text-align: center;
    cursor: pointer;
    height: 30px;
    border: 1px solid transparent;
  }
}

.footer {
  padding-top: 32px;
  bottom: 0;
  height: 80px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #B9B9B9;
  border-top: 1px solid #E5E5E5;
  width: calc(100vw - 372px);
  margin-left: 40px;
}
